.socialMedias {
    display: flex;
}

.socialMedias ul {
    list-style: none;
}

.flex-wrapper-row {
    display: flex;
    align-items: center;
}

.flex-wrapper-row li {
    margin-left: 20px;
}

.flex-wrapper-row li:first-child {
    margin-left: 0px;
}

.flex-wrapper-row li img {
    width: 20px;
}

.flex-wrapper-colum {
    display: flex;
    flex-direction: column;
}

.flex-wrapper-colum li {
    margin-bottom: 20px;
}

.flex-wrapper-colum li:first-child {
    margin-top: 30px;
}

.flex-wrapper-colum li:last-child {
    margin-bottom: 0px;
}

.flex-wrapper-colum li img {
    width: 28px;
}

@media (max-width: 768px) {
    .flex-wrapper-row li img {
        width: 17px;
    }
}

@media (max-width: 576px) {
    .flex-wrapper-colum li img {
        width: 18px;
    }
    .flex-wrapper-row li img {
        width: 13px;
    }
} 