.likeBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeBox span {
    color: var(--color-text-bold);
    font-weight: bold;
}

.flex-wrapper-row {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.likeBox .flex-wrapper-row img {
    width: 30px;
    margin-right: 8px;
}

.flex-wrapper-columm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.likeBox .flex-wrapper-columm img {
    width: 40px;
    margin-bottom: 8px;
}
