.imageSection {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
}

.imageSection img {
    margin-left: 100px;
    margin-bottom: 30px;
} 

@media (max-width: 868px) {
    .imageSection img {
        width: 30%;
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    .imageSection {
        align-items: center;
        width: auto;
    }
    .imageSection img {
        width: 30%;
        margin-left: 5px;
        margin-bottom: 10px;
    }
}